@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #F9F9F9;
    --foreground: #333333;
}

body {
    background: var(--background);
    color: var(--foreground);
}

html {
    scroll-behavior: smooth;
}